@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
    box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body { 
    position: relative;
  margin:0;
  padding:0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* font-family: Nunito; */
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #666;
  
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #666;

}

h1 {
   font-size: 250%;
   padding: 0;
   margin: 0;
   color: white;
}

.hero {
    font-size: 200%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-bottom: 3px solid #ccc;
    z-index: 9999;
}

.nav ul {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.nav li {
  padding: .5rem;
  font-size: 1rem;
  width: 10rem;
  margin: .5rem 1rem;
  transition: all .2s ease-in-out;
}

.nav li:hover {
    transform: scale(1.1);
  }
  
  .parallax {
    /* The image used */
    background-image: url('images/Studio\ MOW-0386.jpg');
  
    /* Full height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }

  .main-div {
    background-color:rgba(255, 255, 255, 0.867);
    font-size: 1rem;
    padding: 2rem;
    width: 100%;
    min-height: 70vh;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;


  }

  .main-div h1 {
    color: #292929;
  }
  .footer {
    height: 100vh;
    background: #222;
  }

  .contact {
    padding: 6rem 2rem 2rem 2rem;
  }

  .contact p {
    color: #fff;
  }

  .arrow {
  position: relative;
  bottom: -10rem;
  left: 0%;
  margin-left:-20px;
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}